@mixin tamaño($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

.footer {
    @include tamaño(30px, 100%);
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    gap: 112px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    margin: auto;
    margin-top: 25px;
}

.foottxt {
    display: flex;
    padding-bottom: 6px;
    justify-content: center;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;
}

.foottxt2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: auto;
    padding-top: 14px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: wheat;
}

.ftlinks {
    color: aliceblue;
}