/*------------mixins-------------*/
@mixin paddings($der,$izq,$arr,$abjo) {
    padding-right: $der;
    padding-left: $izq;
    padding-top: $arr;
    padding-bottom: $abjo;
}
    
/*------------index---------------*/

.main {
    text-align: center;
    padding-top: 5px;
}

.linea {
    margin-top: 0px;
    padding-top: 0px;   
    border-top: (5px transparent);
    border-image: linear-gradient(to right, rgb(255, 191, 0),rgb(255, 179, 0), rgb(231, 108, 0),rgb(185, 86, 0), rgb(116, 45, 1), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)) 1;
    border-top-style: double;
}

.marco {
    align-content: center;
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 80px;
    border: 8px solid black;
    border-style: double;
    padding-bottom: 3u0px;
}


.titulo_main {
    font-size: 120px;
    font-family: 'Rage Italic';
    -webkit-text-stroke-width: 1px;
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    color:  rgb(33, 33, 33);
}

.subtitulo_main {
    @include paddings(0,0,50px,25px );
    font-family: 'Satisfy', cursive;
    -webkit-text-stroke: .5px rgb(71, 71, 71);
    color: rgb(142, 142, 142);
    font-size: 60px;
}

#portada {
    align-items: center;
    justify-content: center;
    @include paddings(0,0,30px,50px );
    width: 450px;
    height: 400px;
}

.present {
    @include paddings(0,0,40px,50px );
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    -webkit-text-stroke: 1.3px black;
    color: rgb(212, 212, 212);
    max-width: 1200px;
    margin: auto;
}
.article_main {
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .75px black;
    font-weight: 300;
    color: white;
    font-size: x-large;
}
.txt_video {
    margin-left: 20px;
    margin-right: 20px;
}

.video {
    @include paddings(0,0,40px,40px );
    height: 400px;
    width: 550px;
}

/*------------CONTACTO--------------*/

.fondo_condiciones{
    max-width: 1500px;
    height:auto;
    margin: auto;
    background-color:rgba(246, 209, 161, 0.5);
    padding-bottom: 25px;
}

.h1_contacto {
    text-align: center;
    text-decoration-color: white;
    font-weight: 900;
    padding-top: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.h2_contacto {
    @include paddings(0,0,40px,40px );
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
    font-family: 'Lucida Sans'
}

/*------------------formulario--------------------*/
.formulario-bts {
    @include paddings(0,0,15px,20px );
    background-color: rgba(255, 211, 154, 0.546);
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

form {
    @include paddings(15px,20px,0,0);
    text-decoration: solid;
    font-weight: 400;
}

section {
    max-width: 100%;
    max-height: auto;
}

.map-responsive {
    display: flex;
    justify-content: center;
    overflow:hidden;
    position:relative;
    max-height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    margin: auto;
}

iframe {
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    max-height:380px;
    max-width:390px;
}
/*---------------- condiciones ---------------*/

.condiciones {
    @include paddings(0,50px,0,15px);
}


.titulo_condiciones {
    padding-left: 10px;
}

.subtitulo_condiciones {
    @include paddings(0,10px,15px,15px );
}

#p1 {
    margin-left: 35px;
    text-decoration: chocolate;
    margin-right: 35px;
}
#h2c {
    margin-left: 25px;
    text-decoration: black;
}
#lista {
    padding-left: 0%;
}
.terminos {
    color: rgb(22, 38, 146);
    font-family: 'Roboto', sans-serif;
}

/*------------------galeria--------------------*/

.img_galeria {
    @include paddings(0,50px,25px,25px);
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit,
            minmax(25rem,
                2fr));
    grid-auto-rows: auto;
    overflow: hidden;
}

/* ----------------Animacion y Transformacion-------------- */
.imgimg {
    width: 450px;
    height: 280px;
    max-width: 450px;
    max-height: 300px;
    transition: transform .3s ease-in-out;
}

.imgimg:hover {
    transform: scale(1.2);
}

/*----------------------menu de cartas----------------------*/

.fondo_cartas {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    align-content: center;
}

.img_cartas {
    @include paddings(0,0,25px,25px );
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    image-resolution: auto;
}