.main {
    text-align: center;
}


.article_main {
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .75px black;
    font-weight: 300;
    color:white;
    font-size: x-large;
}
.titulo_main {
    font-size: 180px;
    font-family: 'Sassy Frass', cursive;
    padding-top: 30px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: white;
}
.subtitulo_main {
    padding-bottom: 25px;
    font-family: 'Satisfy', cursive;
    font-weight: 100;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 43px;
}

#portada {
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 450px;
    height: 400px;
}

.present {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    color: white;
}

.video {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-container {
    padding-bottom: 60px;
    padding-left: 50px;
    font-weight: 500;
}

.h1_contacto {
    text-align: center;
    text-decoration-color: white;
    font-weight: 900;
    padding-top: 20px;
}

.h2_contacto {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 800;
    font-family: 'Lucida Sans'
}

.terminos {
    color: rgb(22, 38, 146);
    font-family: 'Roboto', sans-serif;
}
.condiciones {
    padding-bottom: 50px;
    padding-left: 15px;
}

.fondo_condiciones {
    padding-bottom: 35px;
}

.titulo_condiciones {
    padding-left: 10px;
}

.subtitulo_condiciones {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

/*---------galeria-----------*/

.img_galeria {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit,
            minmax(25rem,
                2fr));
    grid-auto-rows: auto;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}

/* Animacion y Transformacion */
.imgimg {
    width: 450px; 
    height: 280px;
    max-width: 450px;
    max-height: 300px;
    transition: transform .3s ease-in-out;
}

.imgimg:hover {
    transform: scale(1.2);
}

/*menu de cartas*/

.fondo_cartas {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    align-content: center;
}

.img_cartas {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    image-resolution: auto;
}