
.background_image_home {
    background-image: url(../assets/images/backgorunds/background_home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_entradas {
    background-image: url(../assets/images/backgorunds/background_galeria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_postres {
    background-image: url(../assets/images/backgorunds/background_postres.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_principales {
    background-image: url(../assets/images/backgorunds/background_principales.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_galeria {
    background-image: url(../assets/images/backgorunds/background_entradas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_contacto {
    background-image: url(../assets/images/backgorunds/background_contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(48, 44, 29);
}

.background_condiciones {
    background-image: url(../assets/images/backgorunds/background_extra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.footer {
    color: aliceblue;
    background-color: black;
}
.foottxt {
    color: beige;
    background-color: black;
}


.fondo_condiciones {
    max-width: 1500px;
    height:auto;
    margin: auto;
    background-color:rgba(246, 209, 161, 0.5);
    padding-bottom: 25px;
}