
.background_image_home {
    background-image: url(/assets/images/backgorunds/background_home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_entradas {
    background-image: url(/assets/images/backgorunds/background_galeria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_postres {
    background-image: url(/assets/images/backgorunds/background_postres.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_principales {
    background-image: url(/assets/images/backgorunds/background_principales.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_galeria {
    background-image: url(/assets/images/backgorunds/background_entradas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background_image_contacto {
    background-image: url(/assets/images/backgorunds/background_contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(252, 237, 181);
}



.footer {
    color: aliceblue;
    background-color: black;
}
.foottxt {
    color: beige;
    background-color: black;
}

.condiciones {
    background-color: burlywood;
}

.form-container {
    background-color: rgba(205, 136, 25, 0.2);
    color: aliceblue;
}