/*------------mixins-------------*/
@mixin paddings($der,$izq,$arr,$abjo) {
    padding-right: $der;
    padding-left: $izq;
    padding-top: $arr;
    padding-bottom: $abjo;
}

@mixin margins($der,$izq,$arr,$abjo) {
    margin-right: $der;
    margin-left: $izq;
    margin-top: $arr;
    margin-bottom: $abjo;
}


/*----------------------menu de cartas----------------------*/

.fondo_cartas {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    align-content: center;
}

.img_cartas {
    @include paddings(0,0,25px,25px );
        display: flex;
        position: relative;
        align-items: center;
        align-content: center;
        margin: auto;
}

.carta_entradas {
    border: 15px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 191, 0),rgb(255, 179, 0), rgb(231, 108, 0),rgb(185, 86, 0), rgb(116, 45, 1), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)) 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carta_postre {
    max-height: 800px;
    max-width: auto; 
    border: 15px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 191, 0),rgb(255, 179, 0), rgb(231, 108, 0),rgb(185, 86, 0), rgb(116, 45, 1), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)) 1;
    margin-top: 150px;
    margin-bottom: 150px;
}
.carta_principales {
    border: 15px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 191, 0),rgb(255, 179, 0), rgb(231, 108, 0),rgb(185, 86, 0), rgb(116, 45, 1), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)) 1;
    margin-top: 50px;
    margin-bottom: 50px;
}